<table class="table table-striped">
    <thead>
        <tr>
            <th>DNI</th>
            <th>APELLIDOS PATERNOS</th>
            <th>APELLIDOS MATERNOS</th>
            <th>NOMBRES</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>SEXO</th>
            <th>VIGENCIA</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of EstudianteList">
            <td>{{dataItem.dni}}</td>
            <td>{{dataItem.apellidoPaterno}}</td>
            <td>{{dataItem.apellidoMaterno}}</td>
            <td>{{dataItem.nombres}}</td>
            <td>{{dataItem.fechaNacimiento}}</td>
            <td>{{dataItem.sexo}}</td>
            <td>{{dataItem.vigencia}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">
                    Edit
                </button>
                <button type="button" class="btn btn-light mr-1">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>