<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>FECHA</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of MatriculaList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.fecha}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">
                    Edit
                </button>
                <button type="button" class="btn btn-light mr-1">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>