<div class="container">

  <h3 class="d-flex justify-content-center">CURSOS DVG</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="cursos"
        class="m-1 btn btn-light btn-outline-primary" Button>Cursos</button>
      </li>
      <li class="nav-item">
          <button routerLink="estudiantes"
          class="m-1 btn btn-light btn-outline-primary" Button>Estudiantes</button>
      </li>
      <li class="nav-item">
          <button routerLink="matriculas"
          class="m-1 btn btn-light btn-outline-primary" Button>Matriculas</button>
      </li>
      <li class="nav-item">
          <button routerLink="ventas"
          class="m-1 btn btn-light btn-outline-primary" Button>Ventas</button>
      </li>
      <li class="nav-item">
          <button routerLink="docentes"
          class="m-1 btn btn-light btn-outline-primary" Button>Docentes</button>
      </li>
</ul>
</nav>

<router-outlet></router-outlet>

</div>
